#regions_div {
    top: 50%;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

#loader {
    z-index: 1001;
    /* anything higher than z-index: 1000 of .loader-section */
}

h1 {
    color: #EEEEEE;
}

* {
    box-sizing: border-box;
}

.container--wrap {
    background-color: #445175;
    border-radius: 15px;
    margin: 5px;
}